@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=New+Rocker&family=Roboto+Mono:ital,wght@0,400;1,300;1,700&display=swap");

html,
body {
  background-color: #000000;

  --black: black;
  --white: hsl(260,15%, 90%);
  --hue: 250;
  --lightGray: hsl(var(--hue), 15%, 75%);
  --mediumGray: hsl(var(--hue), 24%, 15%);
  --darkGray: hsl(var(--hue), 30%, 8%);
}

div#WEB3_CONNECT_MODAL_ID {
  font-family: "Alagard", "Pixel-NES", monospace;
}

div#WEB3_CONNECT_MODAL_ID .web3modal-modal-card {
  border-radius: 2px !important;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  /* font-family: "Roboto Mono", system-ui, -apple-system, */
  font-family: "Inter", system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #d1c8bf;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

a {
  color: #a983ff;
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: "Alagard", system-ui, -apple-system, "Segoe UI", Roboto, */
  font-family: "New Rocker", system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
h1 {
  margin-top: 1.5em;
}
h2 {
  margin-top: 1.3em;
}
h3 {
  margin-top: 1em;
}

p {
  line-height: 1.6em;
}

::-webkit-scrollbar {
  width: 6px;
}

.infinite-scroll-component::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

#nprogress .peg {
  box-shadow: none !important;
}

.select__control {
  background-color: var(--darkGray) !important;
  border-color: var(--mediumGray) !important;
  border-style: dashed !important;
  border-width: 2px !important;
}

.select__control--is-focused {
  border-color: var(--white) !important;
  box-shadow: var(--white) !important;
}

.select__control:hover {
  background: var(--mediumGray) !important;
  border-color: var(--lightGray) !important;
}

.select__placeholder {
  color: var(--lightGray) !important;
  font-family: 'Arial';
}

.select__option {
  color: var(--lightGray) !important;
  background-color: var(--mediumGray) !important;
  font-family: 'Arial';
  font-size: 18px !important;
  margin: 0px !important;
}

.select__single-value {
  color: var(--lightGray) !important;
  font-family: 'Arial';
  font-size: 20px;
}

.react-tabs__tab {
  color: var(--lightGray) !important;
  font-family: 'Arial';
  font-size: 20px;
}

.react-tabs__tab:hover {
  color: var(--white) !important;
}

.react-tabs__tab--selected {
  color: var(--white) !important;
  background-color: var(--black) !important;
  font-family: 'Arial';
  font-size: 24px;
}