@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=New+Rocker&family=Roboto+Mono:ital,wght@0,400;1,300;1,700&display=swap");

html,
body {
  background-color: #000000;

  --black: black;
  --white: hsl(260,15%, 90%);
  --hue: 250;
  --lightGray: hsl(var(--hue), 15%, 75%);
  --mediumGray: hsl(var(--hue), 24%, 15%);
  --darkGray: hsl(var(--hue), 30%, 8%);

  --ratio: 1.4; 
  --sp0: 1em;
  --sp1: calc(var(--ratio) * var(--sp0));
  --sp2: calc(var(--ratio) * var(--sp1));
  --sp3: calc(var(--ratio) * var(--sp2));
  --sp4: calc(var(--ratio) * var(--sp3));
  --sp5: calc(var(--ratio) * var(--sp4));
  --sp-1:calc(var(--sp0) / var(--ratio));
  --sp-2:calc(var(--sp-1) / var(--ratio));
  --sp-3:calc(var(--sp-2) / var(--ratio));
  --sp-4:calc(var(--sp-3) / var(--ratio));
  --sp-5:calc(var(--sp-4) / var(--ratio));
}

div#WEB3_CONNECT_MODAL_ID {
  font-family: "Alagard", "Pixel-NES", monospace;
}

div#WEB3_CONNECT_MODAL_ID .web3modal-modal-card {
  border-radius: 2px !important;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  /* font-family: "Roboto Mono", system-ui, -apple-system, */
  font-family: "Inter", system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #d1c8bf;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

a {
  color: #a983ff;
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: "Alagard", system-ui, -apple-system, "Segoe UI", Roboto, */
  font-family: "New Rocker", system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
h1 {
  margin-top: 1.5em;
}
h2 {
  margin-top: 1.3em;
}
h3 {
  margin-top: 1em;
}

p {
  line-height: 1.6em;
}

::-webkit-scrollbar {
  width: 6px;
}

.infinite-scroll-component::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

#nprogress .peg {
  box-shadow: none !important;
}

.select__control {
  background-color: var(--darkGray) !important;
  border-color: var(--mediumGray) !important;
  border-style: dashed !important;
  border-width: 2px !important;
}

.select__control--is-focused {
  border-color: var(--white) !important;
  box-shadow: var(--white) !important;
}

.select__control:hover {
  background: var(--mediumGray) !important;
  border-color: var(--lightGray) !important;
}

.select__placeholder {
  color: var(--lightGray) !important;
  font-family: 'Alagard';
  font-size: 18px;
}

.select__menu {
  background-color: var(--mediumGray) !important;
  border-color: var(--lightGray) !important;
  border-style: dashed !important;
  border-width: 2px !important;
}

.select__option {
  color: var(--lightGray) !important;
  background-color: var(--mediumGray) !important;
  font-family: 'Alagard';
  font-size: 18px !important;
}

.select__option:hover {
  color: var(--lightGray) !important;
  background-color: var(--darkGray) !important;
}

.select__single-value {
  color: var(--white) !important;
  font-family: 'Alagard';
  font-size: 18px;
}

.select__input-container {
  color: var(--white) !important;
}

.__react_component_tooltip {
  background: var(--darkGray) !important;
  color: var(--white) !important;

  border-radius: 10px !important;
  border-style: dashed !important;
  border-width: 1.5px !important;
  border-color: var(--mediumGray) !important;
}

.flatpickr-input {
  background: var(--darkGray);
  border: dashed;
  padding: 10px;
  color: var(--lightGray);
  border-radius: 10px;
  border-color: var(--mediumGray);

  font-family: 'Roboto Mono';
  text-align: center;
}

.flatpickr-input:hover {
  background: var(--mediumGray);
  border-color: var(--lightGray);
  color: var(--white);
}

.flatpickr-month {
  background: var(--mediumGray) !important;
  color: var(--lightGray) !important;

  font-family: Alagard !important;
}

.flatpickr-monthDropdown-months {
  background: var(--mediumGray) !important;
}

.flatpickr-weekdays {
  background: var(--mediumGray) !important;
  border-bottom: dashed;
  border-bottom-color: var(--lightGray);
  border-bottom-width: 1px;
}

.flatpickr-weekday {
  background: var(--mediumGray) !important;
  color: var(--lightGray) !important;

  font-family: Roboto Mono !important;
}

.flatpickr-rContainer {
  background: var(--darkGray) !important;
  border-bottom: dashed;
  border-bottom-color: var(--lightGray);
  border-bottom-width: 1px;
}

.flatpickr-day {
  background: var(--darkGray) !important;
  border-color: var(--darkGray) !important;
  color: var(--lightGray) !important;
  font-family: Roboto Mono !important;
}

.flatpickr-disabled {
  color: var(--mediumGray) !important;
}

.selected {
  background-color: var(--mediumGray) !important;
  border-color: var(--lightGray) !important;
  border-style: dashed !important;
  color: var(--white) !important;
}

.flatpickr-time {
  background-color: var(--mediumGray) !important;
  color: var(--lightGray) !important;
}

.flatpickr-minute {
  color: var(--lightGray) !important;
}

.flatpickr-am-pm {
  color: var(--lightGray) !important;
}

.flatpickr-hour {
  color: var(--lightGray) !important;
}

.flatpickr-hour:hover {
  border-color: var(--lightGray) !important;
  border-style: dashed !important;
  background-color: var(--mediumGray) !important;
  color: var(--lightGray) !important;
}

.flatpickr-minute:hover {
  border-color: var(--lightGray) !important;
  border-style: dashed !important;
  background-color: var(--mediumGray) !important;
  color: var(--lightGray) !important;
}

.flatpickr-am-pm:hover {
  background-color: var(--mediumGray) !important;
  color: var(--lightGray) !important;
}

.flatpickr-hour:focus {
  border-color: var(--lightGray) !important;
  border-style: dashed !important;
  background-color: var(--mediumGray) !important;
  color: var(--lightGray) !important;
}

.flatpickr-minute:focus {
  border-color: var(--lightGray) !important;
  border-style: dashed !important;
  background-color: var(--mediumGray) !important;
  color: var(--lightGray) !important;
}

.flatpickr-am-pm:focus {
  background-color: var(--mediumGray) !important;
  color: var(--lightGray) !important;
}

.flatpickr-next-month {
  fill: var(--lightGray) !important;
}

.flatpickr-prev-month {
  fill: var(--lightGray) !important;
}

.flatpickr-next-month:hover svg {
  fill: var(--white) !important;
}

.flatpickr-prev-month:hover svg {
  fill: var(--white) !important;
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: var(--lightGray) !important;
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: var(--lightGray) !important;
}